body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    h2{
        font-size: 40px;
    }
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    padding: 10px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 700;   
}
.top-banner{
    background-image: url(bannera.jpg);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(bannera.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
   box-shadow: 10px 10px 40px gray;
   border-radius: 10px;
   
}
.experience-area{
    background-image: url(bannera.jpg);
    background-repeat: no-repeat;
}
#web-dev-exprience{
    border-image: linear-gradient(salmon,blue);
    border-image-slice: 1;
    border-left: 7px solid;
}
#full-stack-experience{
    border-image: linear-gradient(purple,cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p{
    text-align: center;
}
    